<p>update-asset works!</p>

<table>
    <thead>
      <tr>
        <!-- <th>{{asset}}</th> -->
        <th>Name</th>
        <th>Category</th>
        <th>Condition</th>
        <th>Cost</th>
        <th>Location</th>
        <th> Update </th>
      </tr>
     </thead>
     <tbody>
        <tr>
            <td>{{AssetList.Name}}</td>
            <td>{{AssetList.Category}}</td>
            <td>{{AssetList.Condition}}</td>
            <td>{{AssetList.Cost}}</td>
            <td>{{AssetList.Location}}</td>
        </tr>
     </tbody>